<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Modbus Config</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <h2>You need internet connection for your device !!</h2>
    </div>
  </div>
  <div class="container mt-3">
    <h3>Modbus Config</h3>
    <hr>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="modbus-file" name="modbus-file">
            <label class="custom-file-label" for="modbus-file">Browse Modbus Config</label>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-warning" type="button" id="upload-modbus-btn">Upload</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6 offset-sm-3">
        <div class="text-center">
          <button class="btn btn-warning" type="button" id="view-modbusconfig-btn">View Modbus Config</button>
        </div>
        <div class="mt-3">
          <pre id="modbusconfig-display"></pre>
        </div>
      </div>
    </div>
    <h3>MQTT Config</h3>
    <hr>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="mqtt-file" name="mqtt-file">
            <label class="custom-file-label" for="mqtt-file">Browse MQTT Config</label>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-warning" type="button" id="upload-mqtt-btn">Upload</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6 offset-sm-3">
        <div class="text-center">
          <button class="btn btn-warning" type="button" id="view-mqttconfig-btn">View MQTT Config</button>
        </div>
        <div class="mt-3">
          <pre id="mqttconfig-display"></pre>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $("#upload-modbus-btn").click(function(){
        var fd = new FormData();
        var files = $('#modbus-file')[0].files[0];
        fd.append('file',files);

        $.ajax({
          url: '/uploadmodbus',
          type: 'post',
          data: fd,
          contentType: false,
          processData: false,
          success: function(response){
            alert(response);
          },
        });
      });

      $("#view-modbusconfig-btn").click(function(){
        $.ajax({
          url: '/viewmodbusconfig',
          type: 'get',
          success: function(response){
            $("#modbusconfig-display").text(response);
          },
        });
      });

      $("#upload-mqtt-btn").click(function(){
        var fd = new FormData();
        var files = $('#mqtt-file')[0].files[0];
        fd.append('file',files);

        $.ajax({
          url: '/uploadmqtt',
          type: 'post',
          data: fd,
          contentType: false,
          processData: false,
          success: function(response){
            alert(response);
          },
        });
      });

      $("#view-mqttconfig-btn").click(function(){
        $.ajax({
          url: '/viewmqttconfig',
          type: 'get',
          success: function(response){
            $("#mqttconfig-display").text(response);
          },
        });
      });
    });
  </script>

</body>
</html>
