<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Modbus Config</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container mt-3">
    <h3>Modbus Config</h3>
    <hr>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="modbus-file" name="modbus-file">
            <label class="custom-file-label" for="modbus-file">Browse Modbus Config</label>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-warning" type="button" id="upload-btn">Upload</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6 offset-sm-3">
        <div class="text-center">
          <button class="btn btn-warning" type="button" id="view-config-btn">View Config</button>
        </div>
        <div class="mt-3">
          <pre id="config-display"></pre>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $("#upload-btn").click(function(){
        var fd = new FormData();
        var files = $('#modbus-file')[0].files[0];
        fd.append('file',files);

        $.ajax({
          url: '/upload',
          type: 'post',
          data: fd,
          contentType: false,
          processData: false,
          success: function(response){
            alert(response);
          },
        });
      });

      $("#view-config-btn").click(function(){
        $.ajax({
          url: '/viewconfig',
          type: 'get',
          success: function(response){
            $("#config-display").text(response);
          },
        });
      });
    });
  </script>

</body>
</html>
